<div id="fullpage" class="landing-page-content">
    <div class="section">
        <div class="jumbotron main-jumbotron">
            <div class="container">
                <div class="row jumbo-row">
                    <div class="col-md-6 banner-row">
                        <div class="banner-container">
                             <img src="../imgs/TachitBanner.png" class="tachit-logo-banner"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="tachit-steps-container">
                <img src="../imgs/how_to-01.png" class="tachit-steps-img"></img>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="tachit-steps-container">
                <img src="../imgs/how_to-02.png" class="tachit-steps-img"></img>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="tachit-steps-container">
                <img src="../imgs/how_to-03.png" class="tachit-steps-img"></img>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="tachit-steps-container">
                <img src="../imgs/how_to-04.png" class="tachit-steps-img"></img>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row feature-row" style="padding-top: 100px;">
                <div class="col-md-4">

                    <h3>Messages made Personal</h3>

                    <p>No more linking to sites and digging
                    <br>through social media clutter!</p>
                    <p><a class="btn btn-default placement-click" button-data="personal-view-details">View details »</a></p>
                </div>
                <div class="col-md-4">

                    <h3>Timeless</h3>

                    <p>Everything you want to express stored 
                    <br>in a sticker. Messages remain as 
                    <br>long and accessible as the sticker.</p>
                    <p><a class="btn btn-default placement-click" button-data="timeless-view-details">View details »</a></p>
                </div>
                <div class="col-md-4">

                    <h3>And of course, it is beautiful.</h3>

                    <p>picture placeholder (receiver scans and retrieves)</p>
                    <p><a class="btn btn-default placement-click" button-data="beautiful-view-details">View details »</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row feature-row" style="padding-top: 100px;">
                <div class="col-lg-4 col-md-offset-4">
                    <h4>Enter your email address for beta testing!</h4>
                    <div class="input-group email-input-group">
                        <input type="text" class="form-control email-input-text" placeholder="Your email address">
                        <span class="input-group-btn">
                            <button class="btn btn-default email-submit-button" type="button">Submit!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container landing-page-content">
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <hr class="featurette-divider">
    </div>
</div>