$font-stack: Helvetica, sans-serif;
$default-font-size: 15px;
body{
	font-family: $font-stack;
}

.main-jumbotron {
  height: 100%;
  background: -webkit-linear-gradient(left, #ec008c , #fbb040); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ec008c, #fbb040); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ec008c, #fbb040); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ec008c , #fbb040); /* Standard syntax (must be last) */
  background-size: cover;

  .banner-row {
    padding: 75px;

    .banner-container {
      width: 250px;

      .tachit-logo-banner {
        float: left;
        width: 100%;
        background-repeat: no-repeat;
      }
    }
  }
}


.landing-page-content {
    width: 100% !important;
    background: white;

    .tachit-steps-container {
      width: 100%;

      .tachit-steps-img {
        display: table;
        margin: 0 auto;
      }
    }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Feature-row CONTENT
-------------------------------------------------- */
.feature-row {
	.col-md-4{
		text-align:center;
		h2{
			
		}
		p{
			font-size: $default-font-size;
		}
	}
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Popover stylings for the email submission
-------------------------------------------------- */
.email-error {
  .popover {
    background: #b92c28;
  }
  .popover.top .arrow:after {
    border-top-color: #b92c28;
  }
  .popover-content {
    color: white;
  }
}

.email-success {
  .popover {
    background: #5cb85c;
  }
  .popover.top .arrow:after {
    border-top-color: #5cb85c;
  }
  .popover-content {
    color: white;
  }
}